Deanna Clayton Mod6 Practice1

9.3 Text-File Processing

In [19]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [20]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

In [21]:
with open('grades.txt', mode='w') as grades:
    grades.write('1 Red A\n')
    grades.write('2 Green B\n')
    grades.write('3 White A\n')

In [22]:
with open('grades.txt', mode='r') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    for record in grades:
        student_id, name, grade = record.split()
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

9.4 Updating Text Files

In [35]:
accounts = open('accounts.txt', 'r')

In [36]:
temp_file = open('temp_file.txt', 'w')

In [37]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

In [38]:
import os

In [39]:
os.remove('accounts.txt')

In [40]:
os.rename('temp_file.txt', 'accounts.txt')

9.5 Serialization with JSON

In [41]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [42]:
import json

In [43]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [44]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [45]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [46]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [47]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [48]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [49]:
grades_dict = {'gradebook':
               [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
                {'student_id': 2, 'name': 'Green', 'grade': 'B'},
                {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [50]:
with open('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [51]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

9.8 Handling Exceptions - try Statements / 9.9 finally Clause

In [52]:
10/0

ZeroDivisionError: division by zero

In [53]:
value = int(input('Enter an integer: '))

Enter an integer:  hello

ValueError: invalid literal for int() with base 10: 'hello'

In [59]:
while True:
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError:
        print('You must enter two integers\n')
    except ZeroDivisionError:
        print('Attempted to divide by zero\n')
    else:
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
    finally:
        print('finally always executes')
    break

Enter numerator:  100
Enter denominator:  7

100.000 / 7.000 = 14.286
finally always executes

9.11 Stack Unwinding and Tracebacks

In [63]:
def function1():
    function2()

In [64]:
def function2():
    raise Exception('An exception occured')

In [65]:
function1()

Exception: An exception occured

Intro to Data Science: Working with CSV Files

In [66]:
import csv

In [68]:
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

In [70]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

In [71]:
with open('grades.csv', mode='w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [74]:
with open('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    reader = csv.reader(grades)
    for record in reader:
        student_id, name, grade = record
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

In [75]:
import pandas as pd

In [76]:
df = pd.read_csv('accounts.csv',
                 names=['account', 'name', 'balance'])

In [77]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [78]:
df.to_csv('accounts_from_dataframe.csv', index=False)